<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/style.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
</head>
<body ng-controller = "myCtrl">
	<div class="container">
		<header class="row">
			<div class="col-md-4">
				<img id ="face" src="img/mad-lib-happy-face.png">
			</div>
			<div class="col-md-8">
				<img id ="logo" src="img/ng-mad-libs-logo.png" alt="ngMadLibs">
				<h1>Automate This!</h1>
			</div>
		</header>
		<section class="row words">
			
			<form class="col-md-12" name="myForm" ng-submit="submit()" ng-hide="myForm.$submitted && myForm.$valid" novalidate>
				<h2>Provide the following words:</h2>
				<div class="row">
					<div class="col-md-4">
						<input type="text" placeholder = "being" ng-model="being" required>
						<input type="text" placeholder = "name" ng-model="name" required>
						<input class="gender" type="radio" ng-model="gender.name" value="male"> Male 
						<input class="gender" type="radio" ng-model="gender.name" value="female"> Female 
						<input type="text" placeholder = "adjective" ng-model="adjective" required>
						<input type="text" placeholder = "verb" ng-model="verb" required>
					</div>
					<div class="col-md-4">
						<input type="text" placeholder = "action verb(end in 'ing')" ng-model="actionVerb" required>
						<input type="text" placeholder = "event" ng-model="event" required>
						<input type="text" placeholder = "noun" ng-model="noun" required>
						<input type="text" placeholder = "adverb" ng-model="adverb" required>
						<input type="text" placeholder = "another adjective" ng-model="adjective2" required>
						<input type="text" placeholder = "snack food (plural)" ng-model="pluralSnackFood" required>
					</div>
					<div class="col-md-4">
						<input type="text" placeholder = "celebrity" ng-model="celebrity" required>
						<input type="number" placeholder = "number" ng-model="number" required>
						<input type="text" placeholder = "another adjective" ng-model="adjective3" required>
						<input type="text" placeholder = "mood" ng-model="mood" required>
						<input id="submit" type="submit" value="Submit">
					</div>
				</div>
				<div class="row error-div" ng-if="myForm.$submitted" ng-messages="myForm.$error">
				<span class="error" ng-message="required">All forms must be filled</span>
			</div>
				
				<!-- <pre>{{myForm.$valid | json}}</pre> -->
			</form>
			
		</section>
		<!-- <section class="row">
			<div ng-if="myForm.$submitted" ng-messages="myForm.$error">
				<span class="error" ng-message="required">All forms must be filled</span>
			</div>
		</section> -->
		<section class="row story-male" ng-if="myForm.$submitted && myForm.$valid && gender.name === 'male'">
			<h2 class="the-story">The Story</h2>
			<p>
				There once was a {{ being }} named {{ name }}. He was so {{ adjective }} that he wouldn't {{ verb }} if it meant {{ actionVerb }}. Then, one day, {{ event }} occurred. He thought about a {{ noun }} and became {{ adverb }} {{ adjective2 }} for about a minute or two. Once {{ event }} was over, {{ celebrity }} came out of nowhere and stole {{ number }} dollars from him. Indeed, for {{ name }} it was a day to remember.
			</p>
			<p>
				On his way home, {{ name }} was suddenly {{ adjective3 }} and became {{ mood }}. He realized that the only response to this would be to eat a copious amount of {{ pluralSnackFood }}. He lived happily ever after. THE END....?
			</p>
			<form class="start-over" action="" ng-submit="startOver()">
				<input type="submit" value="Start Over">
			</form>
		</section>
		<section class="row story-female" ng-if="myForm.$submitted && myForm.$valid && gender.name === 'female'">
			<h2 class="the-story">The Story</h2>
			<p>
				There once was a {{ being }} named {{ name }}. She was so {{ adjective }} that she wouldn't {{ verb }} if it meant {{ actionVerb }}. Then, one day, {{ event }} occurred. She thought about a {{ noun }} and became {{ adverb }} {{ adjective2 }} for about a minute or two. Once {{ event }} was over, {{ celebrity }} came out of nowhere and stole {{ number }} dollars from her. Indeed, for {{ name }} it was a day to remember.
			</p>
			<p>
				On her way home, {{ name }} was suddenly {{ adjective3 }} and became {{ mood }}. She realized that the only response to this would be to eat a copious amount of {{ pluralSnackFood }}. She lived happily ever after. THE END....?
			</p>
			<form class="start-over" action="" ng-submit="startOver()">
				<input type="submit" value="Start Over">
			</form>
		</section>
	</div>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.min.js"></script>
	<script src="./angular-messages.js"></script>
	<script src="./myApp.js"></script>
</body>
</html>