.row {
	border: 2px solid black;
}

/*#face {
	padding: 0 3em;
}*/

#logo {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 6em;
}

.words {
	/*transition: 1s linear all;*/
}

.words input {
	display: block;
	margin: 1em;
}

.words .gender {
	display: inline-block;
}

.words p {
	text-align: center;
	margin: 1em;
	border: 2px solid black;
}

.words #submit {
	margin-top: 3em;
}

.error-div {
	text-align: center;
}

.error {
	font-size: 3em;
}

.the-story {
	text-align: center;
}

.story-male,
.story-female {
	transition: 1s linear all;
}

.story-male p, .story-female p {
	margin: 1em 3em;
}

.start-over {
	float: right;
	margin: 1em 2em;
}

/*CSS Animations*/
.story-male.ng-hide-remove,
.story-female.ng-hide-remove,
.story-male.ng-hide-add,
.story-female.ng-hide-add {
	/*transition: 1s linear all;*/
}

/*Hidden*/
.story-male.ng-hide-remove,
.story-male.ng-hide-add.ng-hide-add-active,
.story-female.ng-hide-remove,
.story-female.ng-hide-remove.ng-hide-remove-active {
	margin-left: -15em;
	opacity: 0;
}

/*Revealed*/
.story-male.ng-hide-add,
.story-male.ng-hide-remove.ng-hide-remove-active,
.story-female.ng-hide-add,
.story-female.ng.hide-remove.ng-hide-remove-active {
	margin-left: 0;
	opacity: 1;
}

/*.words.ng-hide-add,
.words.ng-hide-remove {
	display:block !important;
}

.words.ng-hide-add,
.words.ng-hide-remove.ng-hide-remove-active {
	width: 100%;
	opacity: 1;
	margin-top: 0;
}

.words.ng-hide-remove,
.words.ng-hide-add.ng-hide-add-active {
	width: 25%;
	opacity: 0.5;
	margin-top: -20em;
}*/



