.row {
	border: 2px solid black;
}

/*#face {
	padding: 0 3em;
}*/

#logo {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 6em;
}

.words input {
	display: block;
	margin: 1em;
}

.words .gender {
	display: inline-block;
}

.words p {
	text-align: center;
	margin: 1em;
	border: 2px solid black;
}

.words #submit {
	margin-top: 3em;
}

.error {
	font-size: 3em;
	text-align: center;
}

.the-story {
	text-align: center;
}

.story-male p, .story-female p {
	margin: 1em 3em;
}

.start-over {
	float: right;
	margin: 1em 2em;
}