.row {
	border: 2px solid black;
}

/*#face {
	padding: 0 3em;
}*/

#logo {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 6em;
}

.words input {
	display: block;
	margin: 1em;
}

.words p {
	text-align: center;
	margin: 1em;
	border: 2px solid black;
}

.story {
	margin-top: 20em;
}

.story p {
	margin: 1em 3em;
}